# file
*.fastq
*.fastq.gz
*.fq
*.bam
*.cram
*.vcf
*.bed
*.sam
*.bai
*.tbi
*.idx
*.gz
*.taxids.txt
*.zip
*.jalil

# db  
/data_12theo/
/database/
/db/
/results/
/logs/
/.snakemake/
# file temporaires
*.tmp
*.temp
*.swp
*~

# Environnements virtuels
/venv/
/env/
__pycache__

# OS files
.DS_Store
Thumbs.db
